@tailwind base;
@tailwind components;
@tailwind utilities;

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.cursor-dot {
  width: 150px;
  height: 150px;
  background: radial-gradient(
    circle,
    rgba(16, 185, 129, 0.15) 0%,
    transparent 70%
  );
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}

.animated-grid {
  background-size: 30px 30px;
  background-image: linear-gradient(
      to right,
      rgba(16, 185, 129, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(16, 185, 129, 0.03) 1px, transparent 1px);
  opacity: 0.5;
}

.bg-gradient-dark {
  background: linear-gradient(
    -45deg,
    rgb(10, 10, 13),
    rgb(17, 24, 39),
    rgb(13, 14, 18),
    rgb(17, 24, 39)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card {
  backdrop-filter: blur(8px);
  background: linear-gradient(
    145deg,
    rgba(17, 17, 23, 0.9),
    rgba(28, 28, 36, 0.4)
  );
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.card:hover {
  background: linear-gradient(
    145deg,
    rgba(17, 17, 23, 0.95),
    rgba(28, 28, 36, 0.5)
  );
  border: 1px solid rgba(16, 185, 129, 0.1);
}
